body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.jumbotron .p .day {
  width: fit-content

}
.description{
  white-space: pre-wrap;
}

.container{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: stretch;
}

table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  text-align: right;
  padding: 8px;

}

th {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
  text-align: left;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

}

/* tr:nth-child(even){
  background-color: white;
} */



.time-block{
  display: flex;
  text-align: center;
  border-radius: 15px;
  width: 100%;
  justify-content: space-around;
}

/* .row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
  margin-left: 0;
} */

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}
.aRow, .bRow, .cRow, .dRow {
white-space: pre-wrap;
height: 80px;
border-top: 1px solid white;
background-color: rgb(212, 207, 207);
margin-left: 0;
}


.eRow{
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
  background-color: rgb(235, 0, 0);
  margin-left: 0;
}

.fRow, .gRow, .hRow, .iRow, .jRow {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
  background-color: #77dd77;
  margin-left: 0;
}
.aBtn, .bBtn, .cBtn, .dBtn, .eBtn, .fBtn, .gBtn, .hBtn, .iBtn, .jBtn{
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}


